.moon {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2);
  transform: rotateZ(-60deg);
  z-index: 2000;
}
.tilted{
     transform: rotateZ(60deg);
}

.moonShape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.moon:hover>.moonShape{
     background-color: white;
}
 .moon:hover>.moontxt{
     color: white;
 }


 @media screen and (max-width:1120px) {
  .moon{
    flex-direction: column;
    transform: rotateZ(0deg);
    z-index: 10000;
  }
  
 }