.moon {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2);
  transform: rotateZ(-60deg);
  z-index: 2000;
  cursor: pointer;
}
.tilted{
     transform: rotateZ(60deg);
}

.moonShape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.moon:hover>.moonShape{
     background-color: white;
}
 .moon:hover>.moontxt{
     color: white;
 }


 @media screen and (max-width:1120px) {
  .moon{
    flex-direction: column;
    transform: rotateZ(0deg);
    z-index: 10000;
  }
  
 }

  @media screen and (max-width:1000px) {
   .moontxt{
    font-size: 0.9em;
  }

  .moonShape{
    width: 40px;
    height: 40px;
  }
  
 }

   @media screen and (max-width:800px) {
   .moontxt{
    font-size: 0.8em;
  }

  .moonShape{
    width: 30px;
    height: 30px;
  }
  
 }

 @media screen and (max-width:660px) {
    .moon{
      flex-direction: row;
    }
 }


 @media screen and (max-width:465px){
     .moonTxt{
          font-size:0.7em;
     }
     .moonShape{
      width: 25px;
      height: 25px;
     }
}