.card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  padding-top: 20px;
  position: relative;
  
}

.card:hover{
     animation: cardHover 1s ease;
     z-index: 20000;
}



.cardImg {
  width: 90%;
  height: 80%;
}

.cardTitle {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: brown;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.cardVeil {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: absolute;
  top: 0px;
  display: none;
  flex-direction: column;
  gap: 10px;
  transition: display ease 2s;
}

.card:hover > .cardVeil {
  display: flex;
  
}

.cardOptions {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.cardOptions:hover{
     background-color: white;
     color: var(--menuFontBlack);
}


@keyframes cardHover {
     0%{
          left:0px;
          top: 0px;
          transform: rotateZ(0deg) ;

     }
     100%{
          left:30px;
          top:30px;
          transform: rotateZ(15deg) ;
     }
}

@media screen and (max-width: 550px) {
  .card {
    width: 350px;
    height: 350px;
  }
  .cardTitle {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 300px;
    height: 300px;
  }
  .cardTitle {
    font-size: 0.8em;
  }
}
