@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@300;400;500;600&family=Satisfy&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: inter;
     font-size: 16px;
 }

 a{
    color: inherit;
    text-decoration: none;
 }

 :root{
    --pageGrey: #E9E6E2;
    --menuFontBlack: #465957;
    --curvyFont: Dancing Script;
 }

 .App{
   height: 100vh;
 }